body {
margin: 0;
}

canvas {
position: fixed;
top: 0;
left: 0;
z-index: 9000;
}
main{
  position: relative;
  z-index: 9999;
  padding-top: 100vh;
}
section {
height: 100vh;
}
h1, h2 {
  font-family: Arial, Helvetica, sans-serif ;
  text-align: left;
  font-size: 50px;
  color: #d2b600;
  text-shadow: 1px 1px 1px #000;
}


